# LonexCore
LONEXCORE_TOKEN=
LONEXCORE_CLIENT_ID=1492886557642850435

# LonexAI
LONEXAI_TOKEN=
LONEXAI_CLIENT_ID=1492888122235686986

# Google
GOOGLE_CREDENTIALS_PATH=./google-credentials.json
GOOGLE_SERVICE_ACCOUNT_EMAIL=lonex-bot@lonexdigital-discord-bots.iam.gserviceaccount.com

# AI Keys
OPENAI_API_KEY=sk-...
GEMINI_API_KEY=AIza...

# Email
MAIL_FROM=info@lonexdigital.com


# SMTP Email
SMTP_HOST=smtp.m1.websupport.sk
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER_INFO=info@lonexdigital.com
SMTP_PASS_INFO=your_password_here
SMTP_USER_OWNER=strazovec@lonexdigital.com
SMTP_PASS_OWNER=your_password_here
