# LonexCore
LONEXCORE_TOKEN=
LONEXCORE_CLIENT_ID=1492886557642850435

# LonexAI
LONEXAI_TOKEN=
LONEXAI_CLIENT_ID=1492888122235686986

# Google
GOOGLE_CREDENTIALS_PATH=./google-credentials.json
GOOGLE_SERVICE_ACCOUNT_EMAIL=lonex-bot@lonexdigital-discord-bots.iam.gserviceaccount.com

# AI Keys
OPENAI_API_KEY=sk-...
GEMINI_API_KEY=AIza...

# Email
MAIL_FROM=info@lonexdigital.com
